html{background-color:#39581f;}
body{background:url(../images/green/bg.jpg) no-repeat top center;}
a.read_more{background-color:#a2cd71;}
.button_divider{border-bottom:1px #4c702e solid; border-top:1px #4c702e solid;}

a{color:#a2cd71;}
h1 span, h2 span, h3 span, h4 span, h1 strong, h2 strong, h3 strong, h4 strong{color:#a2cd71;}
ul#main_menu li a.selected {color:#a2cd71;}
ul#main_menu li a:hover, ul#main_menu li.current-menu-item a{color:#a2cd71;}
ul#main_menu ul li a {color:#a2cd71;}
ul#main_menu ul li ul li a {color:#a2cd71;}
.footer_menu ul li.selected a{ color:#a2cd71;}
.footer_menu ul li a:hover{ color:#a2cd71; }
.post_date, .post_date_nothumb, .service_pricespecial, input#searchsubmit, ul.filter_portfolio li.selected a, ul.filter_portfolio li a:hover, input.form_submit, a.icon_link_img{ background-color:#a2cd71;}
.footer_text a:hover{ border-bottom:1px dotted #a2cd71;}

ul#main_menu ul, ul#main_menu ul li ul, .flex-caption {background-color:#39581f;}

a.more, .left13 ul li, .entry ul li, .sidebar ul li{ background:url(../images/green/bullet.png) no-repeat left;}
.home_underslider{ background:url(../images/green/home_underslider.jpg) no-repeat center top;}
.slide_frame{background:url(../images/green/slider_frame.png) no-repeat center;}

.footer{background-color:#2a4712;}
.footer_text, .footer_menu ul li a{color:#ffffff;}

@media screen and (max-width: 960px) {
.show_menu, .hide_menu, ul#main_menu, ul#main_menu ul{ background-color:#39581f;}
ul.filter_portfolio li.selected a, ul.filter_portfolio li a:hover{background-color:#39581f;}
ul.filter_portfolio li a{color:#a2cd71;}
}